{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
    <div class="container h-100">
        <div class="row h-100 d-flex justify-content-center align-items-center">
            <div class="col-sm-6 col-10">
                <form method='POST' class="form-horizontal {% if form.errors %}err{% endif %}">
                    <div class="form-icon">
                        <i class="fa fa-user-circle"></i>
                    </div>
                    <h3 class="title">HannaBananna's awesome sites</h3>
                    {% csrf_token %}
                    {% for f in form %}
                        <div class="form-group">
                            {% if f.label == "Email" %}
                                <span class="input-icon"><i class="fa fa-user"></i></span>
                            {% else %}
                                <span class="input-icon"><i class="fa fa-lock"></i></span>
                            {% endif %}
                            {% render_field f class="form-control" placeholder=f.label %}
                        </div>
                        {{ f.errors }}
                    {% endfor %}
                    <button type="submit" class="btn signin">Entrar</button>
                    <p class="separator">OU</p>
                    <a href="{% url 'social:begin' 'discord' %}" class="btn discord-login"><i class="fab fa-discord"></i> Login com Discord</a>
                    <ul class="form-options">
                        <li><a href="#">Esqueci minha senha</a></li>
                        <li><a href="#">Cadastre-se</a></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
{% endblock %}