{% extends 'base.html' %}
{% load widget_tweaks %}

{% block javascript %}
<script type="text/javascript">

    function get(name){
        if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
        return decodeURIComponent(name[1]);
    } 

    if (get("next") !== undefined) {
        localStorage.setItem("next", get("next"));
    }
</script>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 d-flex justify-content-center align-items-center">
            <div class="col-sm-6 col-10">
                <form method='POST' class="form-horizontal {% if form.errors %}err{% endif %}">
                    <div class="form-icon">
                        <i class="fa fa-user-circle"></i>
                    </div>
                    <h3 class="title">HannaBananna's awesome sites</h3>
                    {% csrf_token %}
                    {% for f in form %}
                        <div class="form-group">
                            {% if f.label == "Email" %}
                                <span class="input-icon"><i class="fa fa-user"></i></span>
                            {% else %}
                                <span class="input-icon"><i class="fa fa-lock"></i></span>
                            {% endif %}
                            {% render_field f class="form-control" placeholder=f.label %}
                        </div>
                        {{ f.errors }}
                    {% endfor %}
                    <button type="submit" class="btn signin">Entrar</button>
                    <p class="separator">OU</p>
                    <a href="{% url 'social:begin' 'discord' %}" class="btn discord-login"><i class="fab fa-discord"></i> Login com Discord</a>
                    <ul class="form-options">
                        <li><a href="#">Esqueci minha senha</a></li>
                        <li><a href="#">Cadastre-se</a></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
{% endblock %}