{{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 d-flex justify-content-center align-items-center">
        <div class="col-sm-6 col-10">
            <div class="card bg-translucid">
                <div class="card-header text-center">
                    <h2>Senha redefinida!</h2>
                </div>
                <div class="card-body text-center">
                    <p>Sua senha foi alterada com sucesso. Por favor realize o login.</p>          
                    <a href="{% url 'login' %}" class="btn btn-light">Login</a>
                </div>
            </div>
       </div> 
    </div>
</div>
{% endblock %}}