{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 d-flex justify-content-center align-items-center">
        <div class="col-sm-6 col-10">
            <div class="card bg-translucid">
                <div class="card-header text-center">
                    <h2 class="font-weight-bold mt-3">Redefinir senha</h2>
                    <hr>
                    <p>Por favor informe a nova senha.</p>
                    <form method="POST">
                        {% csrf_token %}
                        {% if form.new_password2.errors %}
                            {% render_field form.new_password1 class="form-control mb-3 is-invalid" placeholder=form.new_password1.label %}
                            {% render_field form.new_password2 class="form-control is-invalid" placeholder=form.new_password2.label %}
                        {% else %}
                            {% render_field form.new_password1 class="form-control mb-3" placeholder=form.new_password1.label %}
                            {% render_field form.new_password2 class="form-control mb-3" placeholder=form.new_password2.label %}
                        {% endif %}
                        <div class="invalid-feedback mb-3 d-flex flex-column justify-content-start text-start">
                            {% for e in form.new_password2.errors %}
                                <small>{{ e }}</small>
                            {% endfor %}
                        </div>
                        <button class="btn btn-light" type="submit">Redefinir minha senha</button>
                    </form>
                </div>
            </div>
       </div> 
    </div>
</div>
{% endblock %}