{{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 d-flex justify-content-center align-items-center">
        <div class="col-sm-6 col-10">
            <div class="card bg-translucid">
                <div class="card-header text-center">
                    <h2>Solicitação recebida!</h2>
                </div>
                <div class="card-body text-center">
                    <p>Nós lhe enviamos instruções de como resetar sua senha, caso uma conta exista com o email informado. Você deve recebê-las logo.</p>
                    <p>Se você não receber um email, por favor verifique se você digitou o email corretamente e se este email está vinculado a uma conta, e verifique a sua caixa de spam.</p>
                </div>
            </div>
       </div> 
    </div>
</div>
{% endblock %}}